.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logo {
  font-size: 4rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: inline-block;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.readTheDocs {
  color: #888;
}